---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: light) {

	body {
		background-color: #fff;
		color: #555;
	}

	h1,
	strong,
	header ul a strong {color: #222}

	h2,
	code,
	pre {color: #333}

	h3,
	h4,
	h5,
	h6,
	dt,
	th {color: #444}

	a {color: #0cc}
	a:hover {color: #0ff}
	a small,
	a:hover small {color: #777}

	blockquote {border-left: 1px solid #eee}

	pre {
		background: #fff;
		border: 1px solid #eee;
	}

	th,
	td {
		border-bottom: 1px solid #eee;
	}

	header ul {
		background: #eee;
		border: 1px solid #eee;
	}

	header li {border-right: 1px solid #eee}

	header ul a,
	header ul a:hover {color: #999}
	header ul a:active {background-color: #eee}

	hr {background: #eee}

	@media print,
	screen and (max-width: 960px) {section {border: 1px solid #eee}}

	@media print {body {color: #444}}
}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #000;
		color: #aaa;
	}

	h1,
	strong,
	header ul a strong {color: #ddd}

	h2,
	code,
	pre {color: #ccc}

	h3,
	h4,
	h5,
	h6,
	dt,
	th {color: #bbb}

	a {color: #c00}
	a:hover {color: #f00}
	a small,
	a:hover small {color: #888}

	blockquote {border-left: 1px solid #111}

	pre {
		background: #000;
		border: 1px solid #111;
	}

	th,
	td {
		border-bottom: 1px solid #111;
	}

	header ul {
		background: #111;
		border: 1px solid #111;
	}

	header li {border-right: 1px solid #111}

	header ul a,
	header ul a:hover {color: #666}
	header ul a:active {background-color: #111}

	hr {background: #111}

	@media print,
	screen and (max-width: 960px) {section {border: 1px solid #111}}

	@media print {body {color: #bbb}}
}
